{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>About me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"/>
</head>
<body>

 {% block content %}{% endblock %}

</body>

{% block add_script %}
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static 'ajax_http_requests.js' %}"></script>
    <script src="{% static 'edit_form.js' %}"></script>
{% endblock %}

</html>