{% extends "user_info/base.html" %}

{% block content %}
 <div class="container">
  <div class="row head">
    <div class="col-md-9">
      <h3>42 Coffee Cups Test Assignment</h3>
    </div>
    <div class="col-md-3 text-center login">
      <a href="{% url 'login' %}"" class="">Login</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Name: {{ user.name }}</p>
      <p>Last name: {{ user.last_name }}</p>
      <p>Date of birth: {{ user.date_of_birth }}</p>
    </div>
    
    <div class="col-md-6">
      <p>Contacts</p>
      <p>Email: {{ user.email }}</p>
      <p>Jabber: {{ user.jabber }}</p>
      <p>Skype: {{ user.skype }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" id="photo">
    {% if user.photo %}
    <p>photo</p>
      {% load thumbnail %}
        {% thumbnail user.photo "200x200" crop="center" as im %}
           <img src="{{ im.url }}" alt="" class="img-responsive">
        {% endthumbnail %}
    {% endif %}
    </div>

    <div class="col-md-6">
      <p>Other contacts: {{ user.other_contacts }}</p>
      <p>Bio: {{ user.bio }}</p>
    </div>
  </div>

  
</div>

<div class="request">
  <a href="{% url 'requests' %}">requests</a>
  {% if new_requests %}
        <h5 id="new_requests"> {{ new_requests }} new request(s)</h5>
      {% else %}
        <h5>No new requests.</h5>
      {% endif %}
</div>

{% endblock %}