{% extends "user_info/base.html" %}

{% block content %}
 <div class="container">
  <div class="row">
    <div class="col-md-9">
      <h3>42 Coffee Cups Test Assignment</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Name: {{ user.name }}</p>
      <p>Last name: {{ user.last_name }}</p>
      <p>Date of birth: {{ user.date_of_birth }}</p>
      <br>
      <p>Bio: {{ user.bio }}</p>
    </div>
    
    <div class="col-md-6">
      <p>Contacts</p>
      <p>Email: {{ user.email }}</p>
      <p>Jabber: {{ user.jabber }}</p>
      <p>Skype: {{ user.skype }}</p>
      <p>Other contacts: {{ user.other_contacts }}</p>
    </div>
  </div>
</div>

<div class="request">
  <a href="{% url 'requests' %}">requests</a>
  {% if new_requests %}
        <h5> {{ new_requests }} new request{{ new_requests|pluralize }}.</h5>
      {% else %}
        <h5>No new requests.</h5>
      {% endif %}
</div>

{% endblock %}