{% extends "user_info/base.html" %}

{% block content %}
 <div class="container">
  <div class="row">
    <div class="col-md-9">
      <h3>42 Coffee Cups Test Assignment</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Name: Konstantin</p>
      <p>Last name: Rodin</p>
      <p>Date of birth: 23/03/1980</p>
      <br>
      <p>Bio: From my youth I wanted to code. Now I code every day)))</p>
    </div>
    
    <div class="col-md-6">
      <p>Contacts</p>
      <p>Email: krodinv@gmail.com</p>
      <p>Jabber: krodinv@42cc.co</p>
      <p>Skype: inbox011</p>
      <p>Other contacts: +380 68 240 0 231</p>
    </div>
  </div>
</div>

{% endblock %}