body {
    background-color: #f4f6f9;
    font-size: large;
}

.login {
    margin-top: 15px;

}

.head {
    height: 80px;

    /*display: inline-block;*/
    /*float: none;*/
    vertical-align: middle;
}

.request {
    margin-left: 30px;
}

#photo {
   
}