body {
    background-color: #f4f6f9;
    font-size: large;
}

.login {
    margin-top: 15px;

}

.head {
    height: 80px;

    /*display: inline-block;*/
    /*float: none;*/
    vertical-align: middle;
    margin-bottom: 30px;
}

.request {
    margin-left: 30px;
}

#photo {
   
}

.other-info {
    height: 200px;
    display: block;
}

.info-block {
    margin-top: 40px;
}

.control-label.other-contacts {
    text-align: left;
}

hr {
    border-top: 1px solid black;
}